services:
  dashboard:
    build: .
    container_name: iot_dashboard
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - .:/app
    command: ["streamlit", "run", "app.py", "--server.port=8501", "--server.address=0.0.0.0"]

  simulador:
    build: .
    container_name: iot_simulador
    volumes:
      - .:/app
    command: ["python", "simulador.py"]
